<div class="row mt-5">
  <div class="col-4" *ngFor="let product of list">
    <div class="card">
      <div class="card-header ">
        <h3 class="text-center">
          {{product.title}}
        </h3>
      </div>
      <div class="card-body">
        <img src="{{product.image.url}}" alt="" class="img-responsive mt-2" width="100%">
          <ul class="list-group">
            <li class="list-group-item" bind-innerHTML="product.description"></li>
            <li class="list-group-item"><b>Quantity:</b> {{product.qty}}</li>
            <li class="list-group-item"><b>Price:</b> ${{product.price}}</li>
          </ul>
      </div>
      <div class="card-footer">
        <a routerLink="/products/show/{{product.slug}}">Ver más</a>
      </div>
    </div>
  </div>
</div>
