<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      {{item.name}}
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Precio
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Descripción
          </th>
          <th>
            Foto
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shelf_product of item.products">
          <td>
            {{shelf_product.product.title}}
          </td>
          <td>
            ${{shelf_product.product.price}}
          </td>
          <td>
            {{shelf_product.qty}}
          </td>
          <td [innerHTML]="shelf_product.product.description">
          </td>
          <td>
            <img src="{{shelf_product.product.image.url}}" *ngIf="shelf_product.product.image" alt="" class="img-responsive" width="100px" >
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

